* {
  box-sizing: border-box;
}
ul.list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
}

.tab-button {
  padding: 10px 20px;
  /* float: left; -> ul.list::after 과 함께 tab button을 왼쪽 정렬시키는 것 하지만
  부모인 list에 flex 쓰는게 더 편하다*/
  margin-right: -1px;
  margin-bottom: -1px;
  color: gray;
  cursor: pointer;
}

/* ul.list::after {
  content: "";
  display: block;
  clear: both;
} */
.orange {
  border-top: 2px solid orange;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid white;
  border-left: 1px solid #ccc;
  color: black;
  margin-top: -2px;
}
/* 일체 가리고 원하는 div만 나오게끔 하기 */
.tab-content {
  display: none;
  padding: 10px;
}
.show {
  display: block;
}
